<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= coleccion.nombre %></title>
    <%- include('../views/partials/head.ejs'); %>
    <link rel="stylesheet" href="/css/coleccion.css">
</head>
<body>
    
    <header>
        <%- include('../views/partials/header.ejs'); %>
    </header>

    <main>
        <section class="section-one">
            <div class="fondo">
                <img src="<%= coleccion.imageBannerUrl %>" alt="">
            </div>
            <div class="imagen">
                <img src="<%= coleccion.imageLogoUrl %>" alt="">
            </div>
        </section>
        <section class="section-two">
            <div class="contenedor">
                <div>
                    <h1><%= coleccion.nombre %></h1>
                </div>
                <div class="iconos">
                    <a href="">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                    <a href="">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                    <a href="">
                        <i class="fa-solid fa-globe"></i>
                    </a>
                    <!--Se agrega una condición: si el dueño de la colección es igual al usuario que inicio sesióin, se muestre esta opción-->
                    <% if (userId == coleccion.user._id) { %>
                        <a href="/agregar/articulo/<%= coleccion._id %>">
                            <i class="fa-solid fa-ellipsis"></i>
                        </a>                        
                    <% } %>  
                </div>
            </div>
            <div>
                <p>por <strong><%= coleccion.user.nombre %></strong></p>
            </div>
        </section>
        <section class="section-three">
            <div class="info">
                <div class="datos">
                    <p>
                        <span>Artículos <strong>blabla</strong></span> · 
                        <span>Creado el <strong><%= coleccion.date %></strong></span> · 
                        <span>Comisión del creador <strong><%= coleccion.comision %></strong></span> · 
                        <span>Cadena <strong>blabla</strong></span> · 
                        <span>Categoría <strong><%= coleccion.categoria %></strong></span> · 
                    </p>
                </div>
                <div class="descripcion">
                    <p><%= coleccion.descripcion %></p>
                </div>
                <div class="cifras">
                    <div>
                        <strong>13 ETH</strong>
                        <span>Volumen total</span>
                    </div>
                    <div>
                        <strong>0,025 ETH</strong>
                        <span>Precio suelo</span>
                    </div>
                    <div>
                        <strong>0,011 WETH</strong>
                        <span>Volumen total</span>
                    </div>
                    <div>
                        <strong>36%</strong>
                        <span>Anunciado</span>
                    </div>
                    <div>
                        <strong>80</strong>
                        <span>Propietarios</span>
                    </div>
                    <div>
                        <strong>59%</strong>
                        <span>Propietarios únicos</span>
                    </div>
                </div>
                <nav class="nav">
                    <ul class="lista">
                        <li>
                            <a href="">Artículos</a>
                        </li>
                        <li>
                            <a href="">Análisis</a>
                        </li>
                        <li>
                            <a href="">Actividad</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </section>
        <section class="section-four">
            <div class="one">
                <div class="contenedor">
                    <form action="/buscar" method="get">
                        <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
                        <input type="text" name="buscar" id="buscar" placeholder="Buscar por nombre o atributo">
                        <button type="submit"></button>
                    </form>  
                </div>
                <div>
                    <select name="" id="">
                        <option value="Anunciado recientemente">Anunciado recientemente</option>
                        <option value="Creado recientemente">Creado recientemente</option>
                        <option value="Vendido recientemente">Vendido recientemente</option>
                        <option value="Recibido recientemente">Recibido recientemente</option>
                        <option value="Finaliza pronto">Finaliza pronto</option>
                        <option value="Precio de menor a mayor" selected>Precio de menor a mayor</option>
                        <option value="Precio de mayor a menor">Precio de mayor a menor</option>
                    </select>
                </div>
                <div>
                    <button>
                        <a href="">Hacer oferta de colección</a>
                    </button>
                </div>
            </div>
            <div class="two">
                <% if(anuncios.length == 0) { %>
                <% for(const articulo of articulos) { %>
                    <div class="items">
                        <p>
                            <%= articulos.length %>
                        </p>
                    </div>
                    <div class="coleccion">
                        <div class="card-3">
                            <div class="contenedor-img">
                                <a href="/detalle/<%= articulo._id %>">
                                    <img src="<%= articulo.imageArticulo %>" alt="">
                                </a>
                            </div>
                            <div class="info">
                                <p>
                                    <%= articulo.nombre %>
                                </p>
                                <p>Precio: <%= articulo.precio %> $</p>
                                <p>Termina en 5 horas</p>
                                <% if(articulo.creador._id == userId) { %>
                                    <a href="/vender/<%= articulo._id %>"><button>Vender</button></a>
                                <%} else { %>
                                    <a href=""><button>No tiene anuncio</button></a>
                                <% } %>
                            </div>
                        </div>
                    </div>
                <% } %>  

                <%} else { %>
                    
                <% for(const anuncio of anuncios) { %>
                    <div class="items">
                        <p>
                            <%= anuncios.length %>
                        </p>
                    </div>
                    <div class="coleccion">
                        <div class="card-3">
                            <div class="contenedor-img">
                                <a href="/detalle/<%= anuncio.articulo._id %>">
                                    <img src="<%= anuncio.articulo.imageArticulo %>" alt="">
                                </a>
                            </div>
                            <div class="info">
                                <p><%= anuncio.articulo.nombre %></p>
                                <p>Precio: <%= anuncio.precioSalida %> $</p>
                                <p>Termina en 5 horas</p>
                                <% if(anuncio.articulo.creador._id == userId) { %>
                                    <a href="/detalle/<%= anuncio.articulo._id %>"><button>Ya tiene anuncio</button></a>
                                <%} else { %>
                                    <a href="/carrito/agregar/<%= anuncio.articulo._id %>"><button>Add to cart</button></a>
                                <% } %>
                            </div>
                        </div>
                    </div>
                <% } %>
                <% } %>
            </div>
            
        </section>
    </main>

    <footer>
        <%- include('../views/partials/footer.ejs'); %>
    </footer>

    <script src="https://kit.fontawesome.com/dd5e87f640.js" crossorigin="anonymous"></script>
</body>
</html>