<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= articulo.nombre %></title>
    <%- include('../views/partials/head.ejs'); %>
    <link rel="stylesheet" href="/css/detalle.css">
</head>
<body>
    
    <header>
        <%- include('../views/partials/header.ejs'); %>
    </header>

    <% if(!anuncio) { %>
        <main>
            <section class="section-one">
                <div class="one">
                    <div class="contenedor-img">
                        <img src="<%= articulo.imageArticulo %>"" alt="">
                    </div>
                    <div class=" contenedor-descripcion">
                        <div class="contenedor-titulo">
                            <i class="fa-solid fa-list"></i>
                            <h3>Descripción</h3>
                        </div>
                        <div class="descripcion">
                            <p>Por <strong><%= articulo.creador.nombre %></strong></p>
                            <p><%= articulo.descripcion %></p>
                        </div>
                    </div>
                </div>
    
                <div class="two">
                    <div class="contenedor-header">
                        <div>
                            <p> <span><a href="/coleccion/<%= articulo.coleccion._id %>"><%= articulo.coleccion.nombre %></a></span></p>
                            <h1><%= articulo.nombre %></h1>
                            <p>Propiedad de <span><a href="#"><%= articulo.propietario %></a></span></p>
                        </div>
                        <div>
                            <button class="eliminar"><a href="/eliminar/articulo/<%= articulo._id %>">X</a></button>
                        </div>
                    </div>
                    <div class="contenedor-precio">
                        <div class="contenedor-reloj">
                            <i class="fa-regular fa-clock"></i>
                            <p>No hay fecha porque el artículo no esta anunciado.</p>
                        </div>
                        <div class="precio">
                            <p>Precio actual</p>
                            <div>
                                <span><strong> $</strong></span>
                            </div>
                            <div class="botones">
                                <% if(articulo.propietarioId == userId) { %>
                                    <a href="/vender/<%= articulo._id %>"><button class="venta">Vender</button></a>
                                <%} else { %>
                                    <a href=""><button class="venta">No tiene anuncio</button></a>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="anuncio">
                        <div class="titulo">
                            <i class="fa-solid fa-tag"></i>
                            <h3>Anuncio</h3>
                        </div>
                        <div class="contenido">
                            <table>
                                <tr>
                                    <th>Precio</th>
                                    <th>Precio en USD</th>
                                    <th>Vencimiento</th>
                                    <th>de</th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="ofertas">
                        <div class="titulo">
                            <i class="fa-solid fa-list"></i>
                            <h3>Ofertas</h3>
                        </div>
                        <div class="contenido">
                            <table>
                                <tr>
                                    <th>Precio</th>
                                    <th>Precio en USD</th>
                                    <th>Diferencia de suelo</th>
                                    <th>Vencimiento</th>
                                    <th>de</th>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
    
            <section class="section-two">
                <div class="actividad">
                    <div class="titulo">
                        <i class="fa-solid fa-arrow-up-right-dots"></i>
                        <h3>Actividad del artículo</h3>
                    </div>
                    <div class="contenido">
                        <table>
                            <tr>
                                <th>Evento</th>
                                <th>Precio</th>
                                <th>De</th>
                                <th>Para</th>
                                <th>Fecha</th>
                            </tr>
                            <%  for (let i = 0; i < articulo.actividad.length;  i++ ) { %>
                                <tr>
                                    <td><%= articulo.actividad[i].evento %> </td>
                                    <td><%= articulo.actividad[i].precio %>$</td>
                                    <td><%= articulo.actividad[i].emisor %></td>
                                    <td><%= articulo.actividad[i].receptor %></td>
                                    <td><%= articulo.actividad[i].date %></td>
                                </tr>
                            <% } %>
                        </table>
                    </div>
                </div>
            </section>
        </main>
    
        <%} else { %>
            <main>
                <section class="section-one">
                    <div class="one">
                        <div class="contenedor-img">
                            <img src="<%= anuncio.articulo.imageArticulo %>" alt="">
                    </div>
                    <div class=" contenedor-descripcion">
                            <div class="contenedor-titulo">
                                <i class="fa-solid fa-list"></i>
                                <h3>Descripción</h3>
                            </div>
                            <div class="descripcion">
                                <p>Por <strong><%= articulo.creador.nombre %></strong></p>
                                <p><%= anuncio.articulo.descripcion %></p>
                            </div>
                        </div>
                    </div>
    
                    <div class="two">
                        <div class="contenedor-header">
                            <div>
                                <p> <span><a href="/coleccion/<%= anuncio.coleccion._id %>"><%= anuncio.coleccion.nombre %></a></span></p>
                                <h1><%= anuncio.articulo.nombre %></h1>
                                <p>Propiedad de <span><a href="#"><%= articulo.propietario %></a></span></p>
                            </div>
                            <div>
                                <% if(articulo.creador._id == userId) { %>
                                <button class="eliminar"><a href="/eliminar/articulo/<%= articulo._id %>">X</a></button>
                                <%} else { %>
                                
                                <% } %>    
                            </div>
                        </div>

                        <% if(articulo.propietarioId == userId) { %>
                            <% if(hoy < anuncio.vencimientoNow) { %>
                                
                            <%} else { %>
                                <% if(anuncio.ofertas) { %> 
                                    <div class="subasta">
                                        <a href="/subasta/<%= anuncio.articulo._id %>"><button class="verde">Cobrar la subasta</button></a>
                                    </div>
                                <%} else { %>
                                
                                <% } %>   
                            <% } %>    
                        <%} else { %>

                        <% } %>    

                        <div class="contenedor-precio">
                            <div class="contenedor-reloj">
                                <i class="fa-regular fa-clock"></i>
                                <p>Fin del anuncio el <%= anuncio.vencimiento %></p>
                            </div>
                            <div class="precio">
                                <p>Precio actual</p>
                                <div>
                                    <span><strong><%= anuncio.precioSalida %> $</strong></span>
                                </div>
                                <div class="botones">
                                        <% if(articulo.creador._id == userId && (articulo.propietarioId == userId)) { %>
                                            <% if(hoy < anuncio.vencimientoNow) { %>
                                            <a href=""><button class="venta">Ya tiene un anuncio</button></a>
                                            <%} else { %>
                                                <a href="/vender/<%= articulo._id %>"><button class="venta">Se vencio el anuncio</button></a>
                                            <% } %>
                                        <%} else { %>
                                            <% if(articulo.propietarioId == userId ) { %>
                                                <a href="/wallet"><button class="venta">Ya el artículo te pertenece</button></a>
                                            <%} else { %>    
                                                <% if (hoy < anuncio.vencimientoNow) { %>
                                                    <% if (!artCarrito) { %>
                                                        <a href="/carrito/agregar/<%= anuncio.articulo._id %>"><button class="carrito">Add to cart</button></a>
                                                    <%} else { %>
                                                        <a href="/detalle/<%= articulo._id %>"><button class="carrito">Ya en articulo esta en el carrito</button></a>
                                                    <% } %>  
                                                <%} else { %>   
                                                    <a href="#"><button class="venta">Se vencio el anuncio</button></a>
                                                <% } %>  
                                                <% if(anuncio.tipo === 'precio fijo')  { %>
                                            
                                                <%} else { %>
                                                    <% if(hoy < anuncio.vencimientoNow) { %>
                                                        <a href="/ofertar/<%= anuncio.articulo._id %>"><button class="oferta">Hacer oferta</button></a>
                                                    <%} else { %>
                                                        <a href="#"><button class="oferta">Se termino la subasta</button></a> 
                                                    <% } %>  
                                                <% } %>  
                                            <% } %>    
                                        <% } %>
                                </div>
                            </div>
                        </div>
                        <div class="anuncio">
                            <div class="titulo">
                                <i class="fa-solid fa-tag"></i>
                                <h3>Anuncio</h3>
                            </div>
                            <div class="contenido">
                                <table>
                                    <tr>
                                        <th>Precio en USD</th>
                                        <th>Vencimiento</th>
                                        <th>de</th>
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <td><%= anuncio.precioSalida %>$</td>
                                        <td><%= anuncio.vencimiento %></td>
                                        <td><%= articulo.propietario %></td>
                                        <% if(articulo.creador._id == userId || (articulo.propietarioId == userId)) { %>
                                            <td></td>
                                        <%} else { %>
                                            <% if(hoy < anuncio.vencimientoNow) { %>
                                            <td><button><a href="/carrito/agregar/<%= anuncio.articulo._id %>">Comprar</a></button></td>
                                            <%} else { %>
                                                <td></td>
                                            <% } %>
                                        <% } %>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <% if(anuncio.tipo === 'precio fijo') { %>

                        <%} else { %>   
                        <div class="ofertas">
                            <div class="titulo">
                                <i class="fa-solid fa-list"></i>
                                <h3>Ofertas</h3>
                            </div>
                            <div class="contenido">
                                <table>
                                    <tr>
                                        <th>Precio</th>
                                        <th>Diferencia de suelo</th>
                                        <th>Vencimiento</th>
                                        <th>de</th>
                                    </tr>
                                    <% for(const oferta of ofertas) { %>
                                    <tr>
                                        <td><%= oferta.precio %>$</td>
                                        <td><%= oferta.diferencia %>% </td>
                                        <td><%= oferta.vencimiento %></td>
                                        <td><%= oferta.userName %></td>
                                    </tr>
                                    <% } %>
                                </table>
                            </div>
                        </div>
                        <% } %>    
                    </div>
                </section>
    
                <section class="section-two">
                    <div class="actividad">
                        <div class="titulo">
                            <i class="fa-solid fa-arrow-up-right-dots"></i>
                            <h3>Actividad del artículo</h3>
                        </div>
                        <div class="contenido">
                            <table>
                                <tr>
                                    <th>Evento</th>
                                    <th>Precio</th>
                                    <th>De</th>
                                    <th>Para</th>
                                    <th>Fecha</th>
                                </tr>
                                <%  for (let i =0; i <articulo.actividad.length;  i++ ) { %>
                                <tr>
                                    <td><%= articulo.actividad[i].evento %> </td>
                                    <td><%= articulo.actividad[i].precio %>$</td>
                                    <td><%= articulo.actividad[i].emisor %></td>
                                    <td><%= articulo.actividad[i].receptor %></td>
                                    <td><%= articulo.actividad[i].date %></td>
                                </tr>
                                <% } %>
                            </table>
                        </div>
                    </div>
                </section>
            </main>
            <% } %>

    <footer>
        <%- include('../views/partials/footer.ejs'); %>
    </footer>

    <script src="https://kit.fontawesome.com/dd5e87f640.js" crossorigin="anonymous"></script>
</body>
</html>